---
layout: default
---

<article>

    <ul class="list-group list-of-post">
        {% for post in site.posts %}
        <li class='list-group-item'>
            
            <div class="media">
                <div class="media-body">
                    <div class="media-heading m-b-2">
                        <h2>
                            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                        </h2>
                        <div><small class="">{{ post.date | date: "%Y-%m-%d" }}</small></div>
                    </div>
                    
                    <div class="media-body">{{ post.excerpt }}</div>
                </div>
                {% if post.logo %}
                    <div class="media-right text-xs-right" >
                        <img class="media-object" src="/img/icon-posts/{{post.logo}}.png" width="92" alt="Logo">
                    </div>
                {% endif %}
            </div>
            
        </li>
        
        {% endfor %}
    </ul>

</article>
