<header class="bg-inverse">
    <div class="container pb-2">
	<nav class="navbar navbar-expand-sm navbar-dark bg-inverse">
            <button class="navbar-toggler hidden-sm-up" 
                    type="button" 
                    data-toggle="collapse" 
                    data-target="#rootNavigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div id="rootNavigation" 
                 class="collapse navbar-collapse" >
                <ul class="navbar-nav">
                    {% assign allSections = site.pages | sort:"order" %}
                    {% for current in allSections %}

                        {%  assign sectionActive = false %}
                        {%  assign cssClass = '' %}
                        {% if page.category == current.category %}
                            {%  assign sectionActive = true %}
                            {%  assign cssClass = 'active' %}
                        {% endif %}
                        {% if page.categories contains current.category %}
                            {%  assign sectionActive = true %}
                            {%  assign cssClass = 'active' %}
                        {% endif %}

                        {% if current.order != -1 and current.title %}
                            <li class="nav-item">
                                <a class="nav-link {{ cssClass }}" href="{{ current.url | prepend: site.baseurl }}">
                                    {{ current.title }}  
                                    {% if sectionActive %}
                                        <span class="sr-only">(actuelle)</span>
                                    {% endif %}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}				
                </ul>
            </div>
	</nav>
	<h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
        {% if site.slogan %}
            <div class="text-muted">{{ site.slogan }}</div>
        {% endif %}
    </div>    
</header>


