<!-- post_header

Include parameters:

- logo
- title
- date
- author

-->
<header role="heading" class="media mt-1 mb-3">
    {% if include.logo %}
      <img class="align-self-center mr-1" src="/img/icon-posts/{{page.logo}}.png" width="92" 
           alt="" aria-hidden="true">
    {% endif %}

    <div class="media-body">
        <h2 class="media-heading mt-0 mb-1" itemprop="name headline" >{{ include.title }}</h2>
        <p class="post-meta mb-3">
            <time datetime="{{ include.date | date_to_xmlschema }}" itemprop="datePublished">{{ include.date | date: "%Y %b %-d" }}</time>
            {% if page.author %} • 
                <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                    <span itemprop="name">{{ include.author }}</span>
                </span>
            {% endif %}
        </p>
    </div>
</header>
