<header id="search-form-header" class="search-form-header">    
  <a href="https://www.qwant.com" title="Rechercher avec Qwant" class="search-engine"><img src="https://www.qwant.com/img/logo/q-48.png" border="0" alt="Qwant" align="absmiddle"></a>
  <span>Chercher avec Qwant:</span>
</header>
<form id="search-form" class="search-form"
      method="GET" action="https://www.qwant.com" 
      role="search"
      aria-describedby="search-form-header"
      onsubmit="addSiteSearch()" >
  <input type="text" name="q" id="query" maxlength="255" value="">
  <input type="hidden" name="l" value="fr"> 
  <button type="submit" name="btnG" value="Chercher" aria-label="chercher" 
  		  class="btn btn-sm btn-info">&gt;</button> 
</form>
<script type="text/javascript"> 
  function encodeHTML(s) { 
    return s.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/"/g, '&quot;'); 
  } 
  
  function addSiteSearch() { 
    document.getElementById('query').value = encodeHTML(document.getElementById('query').value) + " site:https://automatisez.net/"; 
  } 
</script>
