@mixin link-on-dark {
    &, 
    &:visited {
        color: colorNamed(linkinvertedActive);
    }

    &:focus,
    &:hover,
    &:active {
        background-color: colorNamed(linkinvertedActive);
        color: darken(colorNamed(linkinvertedActive), 90%);
    }

    &:active:focus,
    &:active:hover {
        color: darken(colorNamed(linkinvertedActive), 90%);
    }
}
