// Customize standard Bootstrap variables
$enable-rounded: false;

$line-height-base: 1.5rem;


// Custom palette


$colorPalette: (
	mainBg: #fefefe,
        darkBg: #303030,
        thinBg: #fafafa,
        
        text: #333333,
        invertedText: #e0e0e0,
        
        linkNormal: #e03333,
        linkActive: #ff4040,
        linkinvertedActive: #f0f0f0, // Over dark backgrounds
        linkVisited: darken(#e03333, 10%),
        
        headings: #ff5842,
        primary: rgb(243,72,170)
);


