---
layout: default
---
<main role="main" aria-labelledby="section-header-title">
    <header id="section-header" role="heading" 
            class="media mt-1 mb-3">
        {% if page.logo %}
          <img class="align-self-center mr-1" src="/img/icon-posts/{{page.logo}}.png" width="92" alt="" aria-hidden="true">
        {% endif %}
        
        <div class="media-body align-self-center">
            <h2 id="section-header-title" class="media-heading my-0" >{{ page.title }}</h2>
            {% if page.date %}
                <div class="mt-1"><small class="">{{ page.date | date: "%Y %b %-d" }}</small></div>
            {% endif %}
        </div>
    </header>
    
    <div class="row">
        <article id="section-content" role="section" 
                 aria-labelledby="section-header"
                 class="col-12 col-sm-8 mt-1">
            <div>
                {{ content }}
            </div>

            {% if page.ibooks_intro %}
                {% include iBooks-link.html message=page.ibooks_intro link=site.ibooks_link label=site.ibooks_link_alt %}
            {% endif %}
        </article>
        <aside role="aside" class="col-12 col-sm-4">
            {% include search-box.html %}
            {% include list_of_links.html title="Sous-sections" %}
            {% include download_links.html title="Liens de téléchargements" %}
        </aside>
    </div>
</article>

{% assign pageCategory = page.category %}
{% assign listOfPosts = site.categories[pageCategory]  %}

<article role="region" aria-labelledby="section-toc-title">
    <header id="section-toc-title">
        <h2 class="">Articles</h2>
    </header>
    
    <ul class="list-group list-of-post">
        {% for post in listOfPosts %}
            <li class='list-group-item'>
                <div class="media">
                    <div class="media-body">
                        <div class="mb-2">
                            <h3 class="media-heading" >
                                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                            </h3>
                            <div><small class="">{{ post.date | date: "%Y %b %-d" }}</small></div>
                        </div>

                        <div class="media-body">{{ post.excerpt }}</div>
                    </div>

                    {% if post.logo %}
                        <div class="media-right text-right" >
                            <img class="media-object ml-1" src="/img/icon-posts/{{post.logo}}.png" width="92" 
                                 alt="" aria-hidden="true">
                        </div>
                    {% endif %}

                </div>
            </li>
        {% endfor %}
    </ul>
</main>