---
layout: default
---
<article class="">
    <header class="media">
        {% if page.logo %}
        <div class="media-left" >
            <img class="media-object" src="/img/icon-posts/{{page.logo}}.png" width="92" alt="Logo">
        </div>
        {% endif %}
        
        <div class="media-body">
            <h2 class="media-heading" >{{ page.title }}</h2>
            <div><small class="">{{ post.date | date: "%Y %b %-d" }}</small></div>
        </div>
    </header>

    <div class="container">
        {{ content }}
    </div>
    
    {% if page.ibooks_intro %}
        {% include iBooks-link.html message=page.ibooks_intro link=site.ibooks_link label=site.ibooks_link_alt %}
    {% endif %}
</article>
