---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    {% include post_header.html title=page.title date=page.date author=page.author logo=page.logo %}

    <div itemprop="articleBody row">
        <div class="col-xs-12 col-md-9">
        {{ content }}

    {% if page.ibooks_intro %}
        {% include iBooks-link.html message=page.ibooks_intro link=site.ibooks_link label=site.ibooks_link_alt %}
    {% endif %}

        </div>
        <div class="col-xs-12 col-md-3">
            <hr class="hidden-md-up m-t-3">
            {% if page.attachments %}
            <h3 class="responsive">Téléchargements</h3>
                {% for item in page.attachments %}
                <div class="card sidebar">
                    <div class="card-header text-xs-center">
                        {{item.name}}
                    </div>
                    <div class="card-block text-xs-center">
                        <a class="link-download" href="/downloads/{{item.path}}">
                            <img src="/img/open-iconic/cloud-download.svg" alt="{{item.name}}" width="64" >
                        </a>
                    </div>
                    <div class="card-footer"></div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</article>
